body {
    background-color: #808080;
}
header {
    width: 500px;
    height: 100px;
    border:black;
    border-style: dashed;
    border-width: 1px;
}
ul {
    list-style: square;
}
h2 {
    font-family: sans-serif;
}
footer {
    text-transform: uppercase;
}