header {
    width: 80%;
    margin: auto;
    background-color: #464648;
}

h1 {
    margin: auto;
    text-align: center;
}

body {
    background-image: linear-gradient(#ccff33, white);
}

img {
    display: block;
}

main {
    width: 80%;
    margin: auto;
    background-color: white;
}

.bold {
    font-weight: bold;
}

.block {
    display: block;
}

.indent {
    margin-left: 1%;
}

footer {
    width: 80%;
    margin: auto;
    background-color: white;
}

legend {
    font-weight: bold;
}

fieldset {
    margin-left: 2%;
    margin-right: 2%;
}

* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}